
<h1>Show hotel: <%= @hotel.id %></h1>

<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hotel.address %>
</p>

<p>
  <strong>Formatted address:</strong>
  <%= @hotel.formatted_address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @hotel.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @hotel.longitude %>
</p>